<html>
    <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Baresniff</title>
    {% endif %}
    </head>
    
    <body>
    	<div>Baresniff <a href="/index">Home</a>|
    		<a href="/logout">Logout</a>|
    		<a href="/client-registration">Register Your App</a>
    	</div>
    	<hr>
    	{% with messages = get_flashed_messages() %}
    	{% if messages %}
    		<ul>
    			{% for message in messages %}
    				<li>{{message}}</li>
    			{% endfor %}
	    	</ul>
	    {% endif %}
	    {% endwith %}
	    
	    {% block content %}{% endblock %}
    </body>
</html>